.form-container{
    display:flex;
    align-items: center;
    flex-direction: column;
    padding: 50px;
    


}
.buttons{
    margin-bottom: 35px;
    margin-top: 25px;

    /* margin-left: 220px; */
    width: 500px;
    text-align: center;
}

.inputsdefault{
    margin-bottom:  35px;
    width: 100vw;
}
.or-sec{
    position: relative;

    text-align: center;
    border-bottom:  1px solid #d4dfef ;
    width: 500px;
    margin-top: 15px;
    margin-bottom: 35px;


}
.or-text{
    position: absolute;
    margin-top: -13px;
    text-align: center;
    background-color: white;
    width:25px;
    font-size: 18px;

}
.social{
    width: 500px;
    
    margin-top: 35px;
    border-radius: 20px !important;
    box-shadow: 0 1px 2px 0 rgb(0, 0, 0, .24) !important;
    height: 40px;
}
.fb{
    width: 500px;
    background-color: white !important;
    
    margin-top: 15px;
    border-radius: 20px !important;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.54)!important;
    height: 40px;

}
.form-container{
    background-color: white;
    height: 100vh;
}

.main-container{
    background-color:  rgba(0, 0, 0, 0.5);

    height: 100vh;
}